# -----------------------------
# Python
# -----------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------

venv/
.env/
.venv/

# -----------------------------
# VS Code
# -----------------------------

.vscode/

# -----------------------------
# Google Calendar Credentials
# -----------------------------

credentials.json
token.json

# -----------------------------
# User Data
# -----------------------------

memory/task_history.csv
memory/completed_tasks.csv
memory/missed_tasks.csv

# -----------------------------
# Generated Reports
# -----------------------------

reports/monthly_report.txt
reports/reflection_report.txt
reports/insights_report.txt

# -----------------------------
# OS Files
# -----------------------------

.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------

*.log
